@import "scss/components/var";

.info-about-us {
    padding-top: 76px;
    padding-bottom: 122px;
    &__container {
        @include container;
        display: flex;
        flex-direction: column;
    }

    &__wrap {
        background-color: #fff;
        &:first-child{
            flex-direction: column;
            background-color: #5D62B5;
            border-radius: 40px;
            width: 100%;
            padding: 45px 89px 15px 85px;
            margin-bottom: 110px;
        }

    }

    &__description {
        @include small-text;
        margin-bottom: 13px;
    }

    &__img {
        width: 100%;
        border-radius: 40px;

    }

    &__service-cards {
        display: flex;
        margin-right: -12px;

        .card__icon {
            margin-right: 23px;
        }

    }

    @media (max-width: $screen-l) {


        margin: 0 auto;

        &__wrap {
            display: flex;
            flex-direction: column;
            align-items: center;

            &:first-child {
                padding-left: 10px;
                padding-right: 10px;
                align-items: center;
            }

        }
        .title {
            font-size: 24px;
            line-height: 36px;
            text-align: center;
        }

        &__service-cards {
            flex-direction: column;
            align-items: center;
        }

        .card {
            flex-direction: column;
            align-items: center;
            text-align: center;

            &__icon {
                margin-right: 0;
            }
        }

        .subtitle {

            justify-content: center;
        }


    }

}
