@import "scss/components/var";

.contact-form {
    background-color: #5D62B5;
    box-shadow: 0 8px 16px rgba(38, 38, 38, 0.24);
    max-width: 585px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 76px 57px;
    border-radius: 40px;
    margin-right: 111px;

    .title {
        margin-bottom: 43px;
    }


    &__label {
        position: absolute;
        opacity: 0;
    }

    &__input-text {
        padding: 17px 23px;
        border: 2px solid #fff;
        border-radius: 10px;
        width: calc(50% - 10px);
        margin-bottom: 22px;
        &::placeholder {
            color: #fff;
            opacity: 0.8;
            background-color: #5D62B5;
        }
    }

    &__input-text-area {
        width: 100%;
        border: 2px solid #fff;
        border-radius: 10px;
        padding: 17px 49px 149px 23px;
        margin-bottom: 30px;

        &::placeholder {
            color: #fff;
            opacity: 0.8;
            background-color: #5D62B5;
        }
    }
    .button {
        margin-left: auto;
    }
}